<% match = local_assigns.fetch(:match, nil) || @match %>
<% players = local_assigns.fetch(:players, nil) || @players %>

<%= form_with model: match, local: true do |f| %>
  <% if match && match.errors.any? %>
    <div id="error_explanation" style="background:#ffe6e6; border:1px solid #ff4d4d; padding:10px; border-radius:4px; color:#b30000;">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>
      <ul>
        <% match.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :player_a_id, 'Player A' %><br>
    <%= f.collection_select :player_a_id, players, :id, :name, include_blank: 'Select Player A' %>
  </p>

  <p><%= f.label :player_b_id, 'Player B' %><br>
    <%= f.collection_select :player_b_id, players, :id, :name, include_blank: 'Select Player B' %>
  </p>

  <p><%= f.label :winner_id, 'Winner' %><br>
    <%= f.collection_select :winner_id, players, :id, :name, include_blank: 'Select Winner' %>
  </p>

  <p><%= f.label :score %><br>
    <%= f.text_field :score %></p>

    <p><%= f.label :played_at %><br>
    <%= f.datetime_select :played_at %></p>

  <p><%= f.submit(match && match.persisted? ? 'Update Match' : 'Record Match') %></p>
<% end %>
